body{
    font-family: 'Roboto', sans-serif; /* добавление шрифтов*/
    background-color: #fafafa;
}

.container{
    width: 1010px;
    margin: 0 auto; /*внешние отступы*/
}

nav{
    padding: 30px 0;/* внутреннее растояне, 30px сверху и снизу, справа и слва 0*/
    background-color: #ffffff;
    border-bottom: 1px solid #00000019; /*Нижняя граница*/
}

nav .container{
    /*это распространяется только на контейнер внутри блоока nav*/
    display: flex; /*это означает что мы работаем флексами*/ 
    justify-content: space-between; /*это означает, что мы выравниваем содержимое с растоянием между*/
    align-items: center;/*выравниваем элементы по центру. Это вертикальное выравнивание*/ 
    
}

nav .logo .line {
    width: 1px;
    height: 46px;
    background-color: #262626;
    margin: 0 30px;/*Внешнее растояние*/
  }
  

nav .logo{
    display: flex; /*это означает что мы работаем флексами*/ 
    justify-content: space-between; /*это означает, что мы выравниваем содержимое с растоянием между*/
    align-items: center;/*выравниваем элементы по центру. Это вертикальное выравнивание*/
}

nav .search input{

    width: 308px;
  height: 40px;
  border-radius: 4px;
  border: solid 1.5px #d6d6d6;
  

  font-size: 22px; /*размер текста??*/
  color: #a7a7a7;/*цвет текста*/

  box-sizing: border-box;/*Свойсво чтобы инпут не расширялся*/

  background: #fafafa url("../icons/icon.png") no-repeat 15px; /*Задаем задний фон,
   добавляем иконку и делаем кол.во. иконок равным 1*/
   padding-left: 40px;
}

nav .links ul{
    /*Эти свойства распространяются на блоки с классом
    LINKS в которых содержатся теги ul*/
    display: flex; /*это означает что мы работаем флексами*/ 
    justify-content: space-between; /*это означает, что мы выравниваем содержимое с растоянием между*/
    padding: 0;
    margin: 0;
}

nav .links ul li{
    list-style: none;
    margin-left: 45px;
}